In [1]:
import pandas as pd
import numpy as np
from PIL import Image, ImageFont, ImageDraw

In [2]:
data = pd.read_csv('20191130 NCST K vs NCUN 31 PLAYS K.KR.P.PR.FG.FGB.csv')

In [3]:
team = "NCST"
# ALL PLAYS DATAFRAMES

p = data[(data["pff_SPECIALTEAMSTYPE"] == "PUNT") & (data["pff_OFFTEAM"] == team)]
kor = data[(data["pff_SPECIALTEAMSTYPE"] == "KICKOFF") & (data["pff_OFFTEAM"] == team)]

pr = data[(data["pff_SPECIALTEAMSTYPE"] == "PUNT") & (data["pff_DEFTEAM"] == team)]
ko = data[(data["pff_SPECIALTEAMSTYPE"] == "KICKOFF") & (data["pff_DEFTEAM"] == team)]

epfg = data[(data["pff_SPECIALTEAMSTYPE"] == "EXTRA POINT") | (data["pff_SPECIALTEAMSTYPE"] == "FIELD GOAL")]
fg = epfg[epfg["pff_OFFTEAM"] == team]
fgb = epfg[epfg["pff_DEFTEAM"] == team]

In [4]:
p["pff_OFFPLAYERSRATINGS"]

11    NCST D11 (0.0); NCST D13 (0.0); NCST D21 (0.0)...
12    NCST D11 (0.0); NCST D19 (+0.5); NCST D21 (0.0...
13    NCST D11 (0.0); NCST D13 (0.0); NCST D21 (0.0)...
14    NCST D11 (0.0); NCST D19 (0.0); NCST D21 (0.0)...
15    NCST D11 (0.0); NCST D13 (0.0); NCST D21 (0.0)...
16    NCST D11 (0.0); NCST D13 (0.0); NCST D21 (0.0)...
Name: pff_OFFPLAYERSRATINGS, dtype: object

In [5]:
p["pff_OFFPLAYERS"]

11    NCST D11 (PRW); NCST D13 (GR); NCST D21 (PRT);...
12    NCST D11 (PRW); NCST D19 (GR); NCST D21 (PRT);...
13    NCST D11 (PRW); NCST D13 (GR); NCST D21 (PRT);...
14    NCST D11 (PRW); NCST D19 (GR); NCST D21 (PRG);...
15    NCST D11 (PPR); NCST D13 (GR); NCST D21 (PRT);...
16    NCST D11 (PRW); NCST D13 (GR); NCST D21 (PRT);...
Name: pff_OFFPLAYERS, dtype: object

In [10]:
df = pd.DataFrame(columns = ['POSITION', 'PLAYER', 'COUNT', 'RATING'])

formations = ko["pff_DEFPLAYERS"]
ratings = ko["pff_DEFPLAYERSRATINGS"]

for i in range(len(formations)):
    formation = formations[i]
    rating = ratings[i]
    
    formation = formation.replace('NCST ', '').replace('(', '').replace(')', '')
    rating = rating.replace('NCST ', '').replace('(', '').replace(')', '')
    
    player_positions = formation.split('; ')
    player_ratings = rating.split('; ')
    
    for j in range(len(player_positions)):
        player_position = player_positions[j]
        player_rating = player_ratings[j]
        
        player, position = player_position.split(' ')
        player, rating = player_rating.split(' ')
        
        new_player = {"POSITION": position, "PLAYER": player, "COUNT": int(1), "RATING": float(rating)}
        df = df.append(new_player, ignore_index = True)
        
df["COUNT"] = df["COUNT"].astype('int')

In [11]:
df

   POSITION PLAYER  COUNT  RATING
0        R4    D11      1     0.5
1        R2    D19      1     0.0
2        R1    D21      1     0.0
3        L4    D22      1     0.0
4        L1    D25      1     0.0
5        R3    D30      1     0.0
6        L5     36      1     0.0
7        L3     37      1     0.0
8        L2     38      1     0.0
9        R5    D39      1     0.0
10       PK    S99      1    -0.5
11       L4    D11      1     1.0
12       L2    D19      1     0.5
13       L1    D21      1     0.0
14       R5    D22      1     0.0
15       R1    D25      1     0.0
16       L3    D30      1    -0.5
17       R4     36      1     0.0
18       R3     37      1    -0.5
19       R2     38      1     0.0
20       L5    D39      1     0.0
21       PK    S99      1     0.0
22       R4    D11      1     0.0
23       R2    D19      1     0.0
24       R1    D21      1     0.0
25       L5    D22      1     0.0
26       R3    D30      1     0.0
27       L1     34      1     0.0
28       L4     36      1     0.0
29       L3     37      1     0.0
30       L2     38      1     0.0
31       R5    D39      1     0.0
32       PK    S99      1     0.0

In [12]:
playerPositionCountsRatings = df.groupby(['POSITION', 'PLAYER'], as_index=False)['COUNT', 'RATING'].sum()

/Users/himol7/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [13]:
playerPositionCountsRatings

   POSITION PLAYER  COUNT  RATING
0        L1     34      1     0.0
1        L1    D21      1     0.0
2        L1    D25      1     0.0
3        L2     38      2     0.0
4        L2    D19      1     0.5
5        L3     37      2     0.0
6        L3    D30      1    -0.5
7        L4     36      1     0.0
8        L4    D11      1     1.0
9        L4    D22      1     0.0
10       L5     36      1     0.0
11       L5    D22      1     0.0
12       L5    D39      1     0.0
13       PK    S99      3    -0.5
14       R1    D21      2     0.0
15       R1    D25      1     0.0
16       R2     38      1     0.0
17       R2    D19      2     0.0
18       R3     37      1    -0.5
19       R3    D30      2     0.0
20       R4     36      1     0.0
21       R4    D11      2     0.5
22       R5    D22      1     0.0
23       R5    D39      2     0.0

In [18]:
= playerPositionCountsRatings.groupby(['POSITION'])

ValueError: too many values to unpack (expected 2)

In [19]:
for k, g in playerPositionCountsRatings.groupby(['POSITION']):
    print(k)
    print(g)

L1
  POSITION PLAYER  COUNT  RATING
0       L1     34      1     0.0
1       L1    D21      1     0.0
2       L1    D25      1     0.0
L2
  POSITION PLAYER  COUNT  RATING
3       L2     38      2     0.0
4       L2    D19      1     0.5
L3
  POSITION PLAYER  COUNT  RATING
5       L3     37      2     0.0
6       L3    D30      1    -0.5
L4
  POSITION PLAYER  COUNT  RATING
7       L4     36      1     0.0
8       L4    D11      1     1.0
9       L4    D22      1     0.0
L5
   POSITION PLAYER  COUNT  RATING
10       L5     36      1     0.0
11       L5    D22      1     0.0
12       L5    D39      1     0.0
PK
   POSITION PLAYER  COUNT  RATING
13       PK    S99      3    -0.5
R1
   POSITION PLAYER  COUNT  RATING
14       R1    D21      2     0.0
15       R1    D25      1     0.0
R2
   POSITION PLAYER  COUNT  RATING
16       R2     38      1     0.0
17       R2    D19      2     0.0
R3
   POSITION PLAYER  COUNT  RATING
18       R3     37      1    -0.5
19       R3    D30      2     0.0
R4
   POSITION PLAYER  COUNT  RATING
20       R4     36      1     0.0
21       R4    D11      2     0.5
R5
   POSITION PLAYER  COUNT  RATING
22       R5    D22      1     0.0
23       R5    D39      2     0.0

In [17]:
print(al1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fcfcc0a55d0>

In [ ]:
print(players)
print(rating)

In [4]:
plays = ko["pff_DEFPLAYERS"]

In [9]:
ko["pff_DEFPLAYERSRATINGS"]

0    NCST D11 (+0.5); NCST D19 (0.0); NCST D21 (0.0...
1    NCST D11 (+1.0); NCST D19 (+0.5); NCST D21 (0....
2    NCST D11 (0.0); NCST D19 (0.0); NCST D21 (0.0)...
Name: pff_DEFPLAYERSRATINGS, dtype: object

In [6]:
print(plays)

0    NCST D11 (R4); NCST D19 (R2); NCST D21 (R1); N...
1    NCST D11 (L4); NCST D19 (L2); NCST D21 (L1); N...
2    NCST D11 (R4); NCST D19 (R2); NCST D21 (R1); N...
Name: pff_DEFPLAYERS, dtype: object

In [5]:
df = pd.DataFrame(columns = ['POSITION', 'PLAYER', 'COUNT'])
for play in plays:
    play = play.replace('NCST ', '').replace('(', '').replace(')', '')
    for player in play.split('; '):
        player_no, player_position = player.split(' ')
        new_player = {"POSITION": player_position, "PLAYER": player_no, "COUNT": 1}
        df = df.append(new_player, ignore_index = True)
        position_player_total = df.groupby(['POSITION', 'PLAYER'], as_index=False).sum()

In [6]:
coordinates = {
    "R1" : (20, 140),
    "R2" : (65, 140),
    "R3" : (110, 140),
    "R4" : (155, 140),
    "R5" : (200, 140),
    "PK" : (245, 140),
    "L5" : (290, 140),
    "L4" : (335, 140),
    "L3" : (380, 140),
    "L2" : (425, 140),
    "L1" : (470, 140)
}

In [8]:
image = Image.open('kickoff_coverage.png')
font = ImageFont.truetype('arial_bold.ttf', size=10)
draw = ImageDraw.Draw(image)

for position, positional_group in position_player_total.groupby(['POSITION']):
    (x, y) = coordinates.get(position)
    message = ''
    for index, player in positional_group.iterrows():
        message = message + str(player["PLAYER"]) + " " + str(player["COUNT"]) + '\n'
    color = 'rgb(0, 0, 0)'
    draw.text((x, y), message, fill=color, font=font)
image.save('trial2.png')